# https://docs.mend.io/bundle/unified_agent/page/unified_agent_configuration_parameters.html

npm.runPreStep=true
npm.ignoreNpmLsErrors=true
npm.yarnProject=true
npm.includeDevDependencies=true
npm.identifyByNameAndVersion=true

python.path=python3.11
python.pipPath=pip3
python.ignorePipInstallErrors=true
python.installVirtualenv=true
python.resolveSetupFiles=true
python.runPipenvPreStep=true
python.IgnorePipenvInstallErrors=true
python.runPoetryPreStep=true

go.collectDependenciesAtRuntime=true
go.ignoreSourceFiles=true

ruby.installMissingGems=true
ruby.runBundleInstall=true

hex.runPreStep=true
